/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark-blue: #283136;
  --basic-dark-gray: #444444;
  --basic-light-white-gray: #888888;
  --basic-light-gray: #eeeeee;
  --basic-light-yellow: #efc849;
  --basic-dark-green-blue: #00ca74;
  --basic-light-pink-red: #fb565a;

  --special-red: #e74246;
  --special-dark-red: #d7373b;
  --special-green: #00bc6c;
  --special-dark-green: #00aa62;
  --special-yellow: #eab534;
  --special-dark-yellow: #e5a722;
  --special-grey: #dfdfdf;
  --special-dark-gray: #d5d5d5;
  --special-light-gray: #666666;
  --special-light-black-gray: #d5d5d5;
  --special-light-white: #d7dcde;
  --special-social: #e1e1e1;
  --special-header: #4d4d4d;
}

/* Font */

@font-face {
  font-family: "Roboto";
  src: local("fonts"), url("../fonts/roboto.woff2") format("woff2"), url("./fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("fonts"), url("../fonts/robotobold.woff2") format("woff2"), url("./fonts/robotobold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("fonts"), url("../fonts/robotobold.woff2") format("woff2"), url("./fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Page */

.page {
  height: 100%;
}

/* Global */

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

/* Main header */

.wrapper {
  background-color: var(--basic-light-gray);
}

.main-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 30px;
  background-color: var(--basic-light-gray);
  margin-bottom: 78px;
}

.main-header-logo {
  justify-self: start;
  position: absolute;
}

.main-header-logo :hover,
.main-header-logo :focus {
  color: var(--basic-black);
  opacity: 70%;
}

.main-header-logo :active {
  color: var(--basic-black);
  opacity: 30%;
}

.user-basket {
  position: relative;
  text-align: right;
  margin-top: 37px;
}

.user-basket::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--basic-light-pink-red);
  left: 0;
  bottom: -10px;
  transition: width 0.3s ease;
}

.user-basket:hover::before {
  width: 100%;
}

.basket {
  position: relative;
}

.user-basket :hover {
  color: var(--basic-light-pink-red);
}

.user-basket :active {
  color: var(--basic-black);
}

.basket-text:active {
  opacity: 0.3;
}

.basket::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -35px;
  width: 15px;
  height: 15px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation {
  line-height: 30px;
  margin-top: 38px;
  width: 100%;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 437px;
  margin-left: 330px;
  margin-top: 37px;
  text-transform: uppercase;
  list-style: none;
}

.link-nav {
  position: relative;
}

.link-nav::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--basic-light-pink-red);
  left: 0;
  bottom: -10px;
  transition: width 0.3s ease;
}

.link-nav:hover::before {
  width: 100%;
}

.site-navigation :hover,
.site-navigation :focus {
  color: var(--basic-light-pink-red);
}

.site-navigation :active {
  display: block;
  color: var(--basic-black);
  opacity: 0.3;
}

.link {
  color: var(--basic-black);
  text-transform: uppercase;
}

.slider {
  position: relative;
}

.pic-phone {
  position: absolute;
  bottom: 0;
  left: 400px;
}

.pic-comp {
  position: absolute;
  bottom: 0;
  left: 400px;
}

.pic-tablet {
  position: absolute;
  bottom: 0;
  left: 400px;
}

/* Main container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Features */

.features-box {
  display: flex;
  flex-direction: column;
}

.slogan {
  text-transform: none;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
  z-index: 1;
}

.score {
  margin: 78px 356px 108px 357px;
  padding-bottom: 108px;
}

.features {
  display: flex;
  flex-direction: column;
}

.features-item {
  color: var(--basic-dark-blue);
  margin-bottom: 55px;
}

.features-box .btn {
  text-align: center;
  max-width: 140px;
  padding: 15px 55px 15px 55px;
  margin-bottom: 80px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-light-pink-red);
  border-radius: 3px;
}

.features .btn:hover,
.features .btn:focus {
  background-color: var(--special-red);
}

.features .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.btn:active .more {
  opacity: 0.3;
}

/* Works */

.desc {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.work {
  margin-bottom: 155px;
  margin-top: 80px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.work-features {
  color: var(--basic-dark-blue);
  margin-bottom: 32px;
}

.work-list .btn {
  padding: 15px 40px 15px 40px;
  line-height: 18px;
  color: var(--basic-white);
  border-radius: 3px;
}

.web .btn {
  background-color: var(--basic-light-pink-red);
  display: inline-block;
}

.web .btn:hover,
.web .btn:focus {
  background-color: var(--special-red);
}

.web .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.apps .btn {
  background-color: var(--basic-dark-green-blue);
  display: inline-block;
}

.apps .btn:hover,
.apps .btn:focus {
  background-color: var(--special-green);
}

.apps .btn:active {
  background-color: var(--special-dark-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.presentation .btn {
  background-color: var(--basic-light-yellow);
  display: inline-block;
}

.presentation .btn:hover,
.presentation .btn:focus {
  background-color: var(--special-yellow);
}

.presentation .btn:active {
  background-color: var(--special-dark-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.line-horizontal {
  display: block;
  margin-left: 141px;
  margin-bottom: 39px;
  margin-top: 80px;
  background-color: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  top: 1052px;
  margin-bottom: 44px;
}

/* Main desc */

.main-desc {
  display: flex;
  flex-direction: row;
  margin-bottom: 73px;
  min-height: 413px;
}

.principle {
  margin-bottom: 40px;
}

.titel {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.titel-box {
  display: flex;
  flex-direction: column;
  width: 670px;
}

.tiny {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.lead {
  color: var(--basic-dark-blue);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.year {
  margin-top: 40px;
  margin-bottom: 34px;
}

.jobs-list {
  list-style: none;
}

.jobs-item {
  position: relative;
  padding: 10px;
}

.jobs-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-light-pink-red);
  left: -25px;
  bottom: 20px;
}

.percent {
  display: flex;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.indicator {
  margin-top: 10px;
}

.indicators {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.indicators-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.indicators-item {
  color: var(--basic-dark-blue);
  line-height: 18px;
  margin-top: 21px;
}

/* Partners */

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  list-style: none;
}

.partners1,
.partners2,
.partners3,
.partners4 {
  opacity: 0.2;
  padding: 0 50px;
}

.patners-item {
  position: relative;
}

.line-vertical {
  display: block;
  position: absolute;
  margin-left: 141px;
  margin-bottom: 39px;
  background-color: var(--basic-light-gray);
  width: 2px;
  height: 52px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.patners-item:hover,
.patners-item:focus {
  opacity: 1;
}

.patners-item:active {
  opacity: 0.1;
}

.line-horizontal-down {
  display: block;
  margin-left: 141px;
  margin-bottom: 39px;
  margin-top: 80px;
  background-color: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  top: 1052px;
  margin-top: 44px;
}

/* Main footer */

.main-footer {
  position: relative;
  width: 100%;
}

.main-footer .pic {
  margin-top: 80px;
  width: 100%;
}

.form-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 19px;
  padding-left: 50px;
  margin-top: 25px;
}

.address {
  line-height: 18px;
  padding-left: 50px;
  color: var(--special-light-gray);
}

.contacts-phone {
  line-height: 18px;
  padding-left: 50px;
  color: var(--special-light-gray);
}

.form .btn {
  text-align: center;
  max-width: 140px;
  padding: 15px 45px 15px 45px;
  margin-left: 50px;
  margin-top: 38px;
  margin-bottom: 46px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-light-pink-red);
  border-radius: 3px;
}

.form .btn:hover,
.form .btn:focus {
  background-color: var(--special-red);
}

.form .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--basic-white);
  width: 319px;
  top: 135px;
  left: 140px;
}

.popup {
  position: absolute;
  top: -105px;
  left: 280px;
  padding: 63px 100px 84px 100px;
  width: 760px;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.popup-title {
  font-size: 45px;
  line-height: 52, 73px;
  padding-bottom: 17px;
}

.popup-item {
  width: 340px;
}

.letter {
  margin-top: 34px;
}

.mail {
  width: 760px;
  margin-bottom: 47px;
  padding-bottom: 80px;
  padding-right: 380px;
}

.popup .popup-text {
  border: 2px solid var(--special-light-white);
  border-radius: 3px;
  width: 360px;
  height: 50px;
}

.popup-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0;
  list-style: none;
}

.main-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popup-items {
  line-height: 18px;
  font-weight: 700;
}

.btn-closed::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  right: 0;
  top: 100px;
  left: 840px;
  background-image: url("../img/cls.svg");
  opacity: 0.3;
}

.btn-closed:hover,
.btn-closed:focus {
  opacity: 1;
}

.popup-item :hover,
.popup-item :focus {
  border-color: var(--basic-light-pink-red);
}

.popup .btn {
  border-radius: 3px;
  width: 259px;
  padding: 16px 83px 16px 83px;
  text-align: center;
}

.popup .btn:hover,
.popup .btn:focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.popup .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.send {
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-light-pink-red);
  border: none;
}

.send :hover,
.send :focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.send :active {
  background-color: var(--special-dark-red);
}

/* Footer social */

.footer-social {
  display: flex;
  justify-content: space-around;
  margin-top: 68px;
}

.main-social {
  margin-top: 130px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 261px;
  list-style: none;
}

.social-item {
  position: relative;
  width: 81px;
  height: 81px;
  background: var(--special-social);
  border-radius: 50%;
}

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.social-item:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.more:active .btn {
  opacity: 0.3;
}

.footer-subtitel {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-sale {
  font-size: 16px;
  line-height: 22px;
}

/* Catalog */

.template-box {
  display: grid;
  grid-template-columns: 260px min-content;
  gap: 140px;
}

.examples-box {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 760px;
}

.filter-box {
  width: 260px;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-left: 400px;
  margin-bottom: 54px;
}

.btn-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #231f20;
}

.btn-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid #231f20;
}

.examples-box .filters {
  position: absolute;
  margin: 0;
}

.filter {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: start;
  padding-left: 40px;
}

.range {
  background-color: var(--basic-light-gray);
}

.range-list {
  list-style: none;
}

.range-price {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}

.price {
  background-color: var(--basic-light-gray);
}

.filter-grid {
  margin-top: 43px;
  border: none;
}

.grid-list {
  display: grid;
  gap: 15px;
  list-style: none;
  color: var(--basic-dark-blue);
  margin: 0;
  padding: 0;
}

.chips-list {
  display: grid;
  gap: 17px;
  list-style: none;
  color: var(--basic-dark-blue);
  margin: 0;
  padding: 0;
}

.grid-item {
  line-height: 20px;
}

.grid-item :hover,
.grid-item :focus {
  cursor: pointer;
}

.grid-item :active {
  opacity: 0.3;
}

.chips-item {
  line-height: 20px;
}

.chips-item :hover,
.chips-item :focus {
  cursor: pointer;
}

.chips-item :active {
  opacity: 0.3;
}

.check {
  margin-left: 36px;
}

.check-input {
  -webkit-appearance: none;
  position: absolute;
}

.check-input:checked + .chek-box {
  background-image: url("../img/chekon.svg");
}

.check-input:hover,
.check-input:focus {
  background-image: url("../img/chekfocus.svg");
}

.chek-box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/chekoff.svg");
  background-repeat: no-repeat;
}

.rad {
  margin-left: 36px;
}

.radio-input {
  -webkit-appearance: none;
  position: absolute;
}

.radio-input:checked + .radio-box {
  background-image: url("../img/radioon.svg");
}

.radio-input:hover,
.radio-input:focus {
  background-image: url("../img/radiofocus.svg");
  opacity: 1;
}

.radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radiooff.svg");
  background-repeat: no-repeat;
}

.show {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  padding: 17px 89px 15px 88px;
  margin-top: 65px;
  border-radius: 3px;
  background-color: transparent;
  background-color: var(--basic-light-gray);
}

.filter-grid .show:hover,
.filter-grid .show:focus {
  background-color: var(--special-grey);
  cursor: pointer;
}

.filter-grid .show:active {
  background-color: var(--special-dark-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.show:active .show-text {
  opacity: 0.3;
}

.btn-sort {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  opacity: 0.3;
}

.btn-price {
  color: var(--basic-black);
  opacity: 1;
}

.filter-list .filter-item .btn-type:hover,
.filter-list .filter-item .btn-type:focus {
  opacity: 0.6;
  cursor: pointer;
}

.filter-list .filter-item .btn-type:active {
  opacity: 1;
  color: var(--basic-black);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.filter-list .filter-item .btn-name:hover,
.filter-list .filter-item .btn-name:focus {
  opacity: 0.6;
}

.filter-list .filter-item .btn-name:active {
  opacity: 1;
  color: var(--basic-black);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Example */

.project-list {
  display: grid;
  width: 760px;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
  padding: 0;
  list-style: none;
}

.project-name {
  padding-top: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.project-item {
  position: relative;
}

.project-item .project-name:hover,
.project-item .project-name:focus {
  color: var(--basic-light-pink-red);
  cursor: pointer;
}

.project-item .project-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.project-description {
  padding-top: 12px;
  line-height: 16px;
  color: var(--special-light-gray);
}

.project-head {
  display: flex;
  width: 360px;
  height: 40px;
  background-color: var(--special-header);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.12;
}

.project-head:hover,
.project-head:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 1;
}

.project-head .circle {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  margin-top: 13px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--basic-white);
  border-radius: 50%;
}

.project-footer {
  position: absolute;
  width: 360px;
  height: 231px;
  top: 390px;
  text-align: center;
  background-color: var(--basic-light-gray);
  opacity: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.project-item:hover .project-footer,
.project-item:focus .project-footer,
.project-item:hover .project-head,
.project-item:focus .project-head {
  opacity: 1;
}

.project-item:hover .project-head,
.project-item:focus .project-head {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-item:hover,
.project-name:focus {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.buy-price {
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
}

.btn:active .buy-price {
  opacity: 0.3;
}

.buy .btn {
  padding: 17px 72px 15px 72px;
  border: 0;
  border-radius: 3px;
  background-color: var(--basic-light-pink-red);
}

.buy .btn:hover,
.buy .btn:focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.buy .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.control-list {
  display: grid;
  grid-template-columns: min-content min-content min-content 230px;
  gap: 11px;
  list-style: none;
  text-align: center;
  margin-top: 45px;
  padding-left: 0;
}

.control-item {
  padding: 16px 20px 16px 20px;
  background: var(--basic-light-gray);
  border-radius: 3px;
  cursor: pointer;
}

.control-item {
  background-color: var(--basic-light-gray);
  border-radius: 3px;
}

.control-item:hover,
.control-item:focus {
  background-color: var(--special-grey);
}

.control-item:active {
  background-color: var(--special-dark-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.control-item:active .btn {
  opacity: 0.3;
}

.btn-one {
  background: var(--basic-white);
  outline: 15px solid var(--basic-white);
}

/* rage control */

.filter-item {
  margin: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item .filters {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.min-price,
.max-price {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.number {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filters {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 14px;
}
