/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark-blue: #283136;
  --basic-dark-gray: #444444;
  --basic-light-white-gray: #888888;
  --basic-light-gray: #eeeeee;
  --basic-light-yellow: #efc849;
  --basic-dark-green-blue: #00ca74;
  --basic-light-pink-red: #fb565a;

  --special-red: #e74246;
  --special-dark-red: #d7373b;
  --special-green: #00bc6c;
  --special-dark-green: #00aa62;
  --special-yellow: #eab534;
  --special-dark-yellow: #e5a722;
  --special-grey: #dfdfdf;
  --special-dark-gray: #d5d5d5;
  --special-light-gray: #666666;
  --special-light-black-gray: #d5d5d5;
  --special-light-white: #d7dcde;
}

/* Font */

@font-face {
  font-family: "Roboto";
  src: local("fonts"), url("./fonts/roboto.woff2") format("woff2"), url("./fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("fonts"), url("./fonts/robotobold.woff2") format("woff2"), url("./fonts/robotobold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("fonts"), url("./fonts/robotobold.woff2") format("woff2"), url("./fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Page */

.page {
  height: 100%;
}

/* Global */
.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
}

.pic {
  max-width: 100%;
  height: auto;
}

/* Main header */

.wrapper {
  background-color: var(--basic-light-gray);
}

.main-header {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 30px;
  background-color: var(--basic-light-gray);
  margin-bottom: 78px;
}

.main-header-logo {
  justify-self: start;
}

.main-header-logo :hover,
.main-header-logo :focus {
  color: var(--basic-black);
  opacity: 70%;
}

.main-header-logo :active {
  color: var(--basic-black);
  opacity: 30%;
}

.user-basket {
  text-align: right;
  margin-top: 37px;
}

/* ВОЗМНОЖНО НУЖНО БУДЕТ УДАЛИТЬ */

/* .basket {
  text-align: right;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
} */

.main-navigation {
  line-height: 30px;
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  margin-top: 38px;
}

.site-navigation {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  column-gap: 45px;
  margin: 0;
  padding: 0;
  /* width: 460px; */
  text-transform: uppercase;
  list-style: none;
  margin-left: 200px;
  margin-top: 37px;
}

.site-navigation :hover,
.site-navigation :focus {
  color: var(--basic-light-pink-red);
}

.site-navigation :active {
  color: var(--basic-black);
  opacity: 0.3;
}

.link {
  color: var(--basic-black);
  text-transform: uppercase;
}

/* Main container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Features */

.features-box {
}

.slogan {
  text-transform: none;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--basic-light-gray);
}

.score {
  margin: 78px 356px 108px 357px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 760px;
}

.features-item {
  color: var(--basic-dark-blue);
  /* margin-bottom: 38px; */
}

.slider {
}

.features-box .btn {
  display: block;
  text-align: center;
  padding-left: 54px;
  padding-right: 54px;
  min-width: 240px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-light-pink-red);
  border-radius: 3px;
}

.features .btn:hover,
.features .btn:focus {
  background-color: var(--special-red);
}

.features .btn:active {
  color: var(--special-dark-red);
}

/* Works */

.desc {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.work {
  margin-bottom: 155px;
  margin-top: 80px;
}

.work-item {
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.work-features {
  color: var(--basic-dark-blue);
}

.work-list .btn {
  line-height: 18px;
  color: var(--basic-white);
  border-radius: 3px;
}

.web .btn {
  background-color: var(--basic-light-pink-red);
}

.web .btn:hover,
.web .btn:focus {
  background-color: var(--special-red);
}

.web .btn:active {
  background-color: var(--special-dark-red);
}

.apps .btn {
  background-color: var(--basic-dark-green-blue);
}

.apps .btn:hover,
.apps .btn:focus {
  background-color: var(--special-green);
}

.apps .btn:active {
  background-color: var(--special-dark-green);
}

.presentation .btn {
  background-color: var(--basic-light-yellow);
}

.presentation .btn:hover,
.presentation .btn:focus {
  background-color: var(--special-yellow);
}

.presentation .btn:active {
  background-color: var(--special-dark-yellow);
}

.line-horizontal {
  display: block;
  margin-left: 141px;
  margin-bottom: 39px;
  background-color: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
}

/* .line-vertical {
  display: block;
  margin-left: 141px;
  margin-bottom: 39px;
  background-color: var(--basic-light-gray);
  width: 2px;
  height: 52px;
  left: 419px;
  top: 1645px;
} */

/* Main desc */

.main-desc {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 149px;
  margin-top: 73px;
  margin-bottom: 73px;
  min-height: 413px;
}

.titel-box {
}

.principle {
  margin-bottom: 40px;
}

.titel {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 32px;
}

.tiny {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.lead {
  color: var(--basic-dark-blue);
  font-weight: 700;
  text-transform: uppercase;
}

.jobs-list {
  list-style: none;
}

.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.indicators {
  display: grid;
  grid-template-rows: 208px min-content min-content;
}

.indicators-list {
  display: grid;
  grid-template-columns: 119px 125px 136px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.indicators-item {
  color: var(--basic-dark-blue);
  line-height: 18px;
}

.indicatort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lol {
  margin-bottom: 37px;
}

.percent {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

/* Partners */

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.partners-list .partners1:hover,
.partners-list .partners1:focus {
  background: url("./img/bg-academy.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.partners-list .partners1:active {
  background: url("./img/bg-academy2.svg");
  background-repeat: no-repeat;
}

.partners-list .partners2:hover,
.partners-list .partners2:focus {
  background: url("./img/bc-borodinsky.png");
  background-repeat: no-repeat;
}

.partners-list .partners2:active {
  background: url("./img/bg-borodinsky2.png");
  background-repeat: no-repeat;
}

.partners-list .partners3:hover,
.partners-list .partners3:focus {
  background: url("./img/bg-pink.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.partners-list .partners3:active {
  background: url("./img/bg-pink2.png");
  background-repeat: no-repeat;
}

.partners-list .partners4:hover,
.partners-list .partners4:focus {
  background: url("./img/bg-mishka.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.partners-list .partners4:active {
  background: url("./img/bg-mishka2.png");
  background-repeat: no-repeat;
}

/* Main footer */

.main-footer {
}

.form-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.address {
  line-height: 18px;
  color: var(--special-light-gray);
}

.contacts-phone {
  line-height: 18px;
  color: var(--special-light-gray);
}

/* Form */

.form .btn {
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-light-pink-red);
  border-radius: 3px;
}

.form .btn:hover,
.form .btn:focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.form .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.popup-text {
  border: 2px solid var(--special-light-white);
  border-radius: 3px;
}

.popup-item {
  line-height: 18px;
  font-weight: 700;
}

.popup-item :hover,
.popup-item :focus {
  border: 2px solid red;
  border-color: var(--basic-light-pink-red);
}

.popup .btn {
  border-radius: 3px;
}

.popup .btn:hover,
.popup .btn:focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.popup .btn:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.send {
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-light-pink-red);
  border: none;
}

.send :hover,
.send :focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.send :active {
  background-color: var(--special-dark-red);
}

/* Footer social */

.footer-social {
  display: grid;
  grid-template-columns: 261px 1fr;
  column-gap: 139px;
}

.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.footer-subtitel {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-sale {
  font-size: 16px;
  line-height: 22px;
}

/* Catalog */
.template-box {

  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.filter-box {

}

.sort-box {

  display: grid;
  grid-template-columns: ;
}

.filter {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range {
  background-color: var(--basic-light-gray);
}

.range-list {
  list-style: none;
}

.range-price {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}

.price {
  background-color: var(--basic-light-gray);
}

.filter-list {
  list-style: none;
}

.filter-grid {
  border: none;
}

.grid-list {
  list-style: none;
  color: var(--basic-dark-blue);
  margin: 0;
  padding: 0;
}

.chips-list {
  list-style: none;
  color: var(--basic-dark-blue);
  margin: 0;
  padding: 0;
}

.grid-item {
  line-height: 20px;
}

.grid-item :hover,
.grid-item :focus {
  cursor: pointer;
}

.grid-item :active {
  opacity: 0.3;
}

.chips-item {
  line-height: 20px;
}

.chips-item :hover,
.chips-item :focus {
  cursor: pointer;
}

.chips-item :active {
  opacity: 0.3;
}

.show {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  background-color: var(--basic-light-gray);
}

.filter-grid .show:hover,
.filter-grid .show:focus {
  background-color: var(--special-grey);
  cursor: pointer;
}

.filter-grid .show:active {
  background-color: var(--special-dark-gray);
}

.btn-sort {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  opacity: 0.3;
}

.btn-price {
  color: var(--basic-black);
  opacity: 1;
}

.filter-list .filter-item .btn-type:hover,
.filter-list .filter-item .btn-type:focus {
  opacity: 0.6;
  cursor: pointer;
}

.filter-list .filter-item .btn-type:active {
  opacity: 1;
  color: var(--basic-black);
}

.filter-list .filter-item .btn-name:hover,
.filter-list .filter-item .btn-name:focus {
  opacity: 0.6;
}

.filter-list .filter-item .btn-name:active {
  opacity: 1;
  color: var(--basic-black);
}

/* Example */

.examples-box {
  /* display: grid; */
}

.project-list {
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.project-item .project-name:hover,
.project-item .project-name:focus {
  color: var(--basic-light-pink-red);
  cursor: pointer;
}

.project-item .project-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.project-description {
  line-height: 16px;
  color: var(--special-light-gray);
}

.buy-price {
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
}

.buy .btn {
  background-color: var(--basic-light-pink-red);
}

.buy .btn {
  border: 0;
  border-radius: 3px;
}

.buy .btn:hover,
.buy .btn:focus {
  background-color: var(--special-red);
  cursor: pointer;
}

.buy .btn:active {
  background-color: var(--special-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.control-list {
  list-style: none;
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr;
  column-gap: 11px;
}

.control-item .btn {
  background-color: var(--basic-light-gray);
  border-radius: 3px;
}

.control-item .btn:hover,
.control-item .btn:focus {
  background-color: var(--special-grey);
}

.control-item .btn:active {
  background-color: var(--special-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
/*  */
